@model MVCBudget.Models.Tran

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tran</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trans_Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trans_Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
